# Logs
pnpm-debug.log*

# Dev dependencies and build files
node_modules
build
target
Cargo.lock
!lexify-rocket-api/Cargo.lock

*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store

.env
apps/server/.env.test
!apps/server/.env.test

.firebase
stats.html
